@{
    ViewBag.Title = "Danh mục";
}

<div class="jumbotron">
    <h2>PHẦN MỀM QUẢN LÝ VÉ SỐ</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Quản lý đại lý</h3>
        <p><a class="btn btn-primary" href='@Url.Action("Index", "DaiLy")'>Danh sách đại lý &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h3>Quản lý loại vé số</h3>
        <p><a class="btn btn-primary" href='@Url.Action("Index", "LoaiVeSoes")'>Danh sách loại vé số &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h3>Quản lý kết quả sổ xố</h3>
        <p><a class="btn btn-primary" href='@Url.Action("Index", "KetQuaSoXoes")'>Danh sách kết quả sổ xố &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h3>Quản lý giải</h3>
        <p><a class="btn btn-primary" href='@Url.Action("Index", "Giais")'>Danh sách giải &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h3>Quản lý đợt phát hành</h3>
        <p><a class="btn btn-primary" href='@Url.Action("Index", "PhatHanhs")'>Danh sách đợt phát hành &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Quản lý số lượng đăng kí</h3>
        <p><a class="btn btn-primary" href='@Url.Action("Index", "SLDangKy")'>Danh sách số lượng đăng kí &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Quản lý phiếu thu</h3>
        <p><a class="btn btn-primary" href='@Url.Action("Index", "PhieuThu")'>Danh sách phiếu thu &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Quản lý phiếu chi</h3>
        <p><a class="btn btn-primary" href='@Url.Action("Index", "PhieuChis")'>Danh sách phiếu chi &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Quản lý công nợ</h3>
        <p><a class="btn btn-primary" href='@Url.Action("Index", "CongNo")'>Danh sách công nợ &raquo;</a></p>
    </div>
</div>