@model PagedList.IPagedList<QuanLyVeSo_MVC.DTO.PhatHanh>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Danh sách đợt phát hành";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách đợt phát hành</h2>

<p>
    <a class="btn btn-primary" href='@Url.Action("Create", "PhatHanhs")'>Thêm mới</a>
</p>

@using (Html.BeginForm("Index", "PhatHanhs", FormMethod.Get))
{
    <p>
        Tìm theo Tên đại lý / Tỉnh: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Tìm kiếm" /> |
        <a class="btn btn-warning" href='@Url.Action("Index", "PhatHanhs")'>Tải lại</a>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Mã phát hành", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Tên đại lý", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Tỉnh", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Số lượng", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Ngày nhận", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Số lượng bán", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Doanh thu", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Hoa hồng", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Tiền thanh toán", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaPhatHanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaiLy.TenDaiLy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiVeso.Tinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SLBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoanhThuDPH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoaHong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienThanhToan)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaPhatHanh }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaPhatHanh }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaPhatHanh })
            </td>
        </tr>
    }

</table>
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trên @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
