@model QuanLyVeSo_MVC.DTO.SoLuongDK

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Số lượng đăng ký</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaSoLuongDK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSoLuongDK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaiLy.TenDaiLy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaiLy.TenDaiLy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayDK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongDK1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongDK1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa thông tin", "Edit", new { id = Model.MaSoLuongDK }) |
    @Html.ActionLink("Trở về danh sách", "Index")
</p>
