@model QuanLyVeSo_MVC.DTO.PhieuChi

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa phiếu chi</h2>

<h3>Bạn có muốn xóa phiếu chi này?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaPhieuChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaPhieuChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTien)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Trở về danh sách", "Index")
        </div>
    }
</div>
